{% extends 'base.html' %}

{% block title %}
Accounts
{% endblock title %}

{% block content %}
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                    <tr>
                        <td>{{account.name}}</td>
                        <td>{{account.number}}</td>
                        <td>{{category.receipts|length}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content%}
